---
import Layout from "@/layouts/Layout.astro"
import Card from "@/components/Card.astro"
---

<Layout title="Welcome to Astro.">
  <div
    class="container relative mx-auto flex h-screen items-center justify-center"
  >
    <h1 class="~/2xl:~text-4xl/7xl font-bold tracking-tight">Home Page</h1>
  </div>
</Layout>
