################################################################################
#                       👇 REQUIRED ENVIRONMENT VARIABLES 👇                   #
################################################################################

# Database URL
DATABASE_URL="postgresql://docker:docker@localhost:5432/soli?schema=public"

# Auth secret
AUTH_SECRET=<auth-secret>

# Github OAuth
AUTH_GITHUB_ID=<github-id>
AUTH_GITHUB_SECRET=<github-secret>

################################################################################
#                       👇 OPTIONAL ENVIRONMENT VARIABLES 👇                   #
################################################################################

ANALYZE=<boolean>
